{% extends 'base.html.twig' %}

{% block title %}Inscription - Mars Radio DNB{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-3">
                {{ form_start(registrationForm) }}
                    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.agreeTerms) }}
            
                    <button class="btn btn-mr-primary">Enregister</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
